parameters:
		level: 8
		inferPrivatePropertyTypeFromConstructor: true
		checkMissingIterableValueType: false
		featureToggles:
			disableRuntimeReflectionProvider: true
		stubFiles:
			# Simulate added properties
			- phpstan/rank-math.stub
			- phpstan/class-breadcrumbs.stub
			- phpstan/class-choices.stub
			- phpstan/class-singular.stub
			- phpstan/class-helpers.stub
			- vendor/axepress/wp-graphql-plugin-boilerplate/phpstan/class-wp-post-type.stub
			- vendor/axepress/wp-graphql-plugin-boilerplate/phpstan/class-wp-taxonomy.stub
			- vendor/axepress/wp-graphql-plugin-boilerplate/phpstan/Model.stub
		bootstrapFiles:
			- phpstan/constants.php
			- wp-graphql-rank-math.php
			- access-functions.php
			- activation.php
			- deactivation.php
		paths:
			- wp-graphql-rank-math.php
			- access-functions.php
			- activation.php
			- deactivation.php
			- src/
		scanDirectories:
			- src/
			- ../seo-by-rank-math
			- vendor/axepress/wp-graphql-plugin-boilerplate/src/
		scanFiles:
			- vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
