parameters:
		level: 8
		treatPhpDocTypesAsCertain: false
		inferPrivatePropertyTypeFromConstructor: true
		checkAlwaysTrueCheckTypeFunctionCall: true
		checkAlwaysTrueInstanceof: true
		checkAlwaysTrueStrictComparison: true
		checkExplicitMixedMissingReturn: true
		checkFunctionNameCase: true
		checkInternalClassCaseSensitivity: true
		checkMissingIterableValueType: true
		checkTooWideReturnTypesInProtectedAndPublicMethods: true
		polluteScopeWithAlwaysIterableForeach: false
		polluteScopeWithLoopInitialAssignments: false
		reportAlwaysTrueInLastCondition: true
		reportStaticMethodSignatures: true
		reportWrongPhpDocTypeInVarTag: true
		featureToggles:
			disableRuntimeReflectionProvider: true
		dynamicConstantNames:
			- WPGRAPHQL_SEO_AUTOLOAD
		stubFiles:
			# Simulate added properties
			- phpstan/rank-math.stub
			- phpstan/class-breadcrumbs.stub
			- phpstan/class-choices.stub
			- phpstan/class-singular.stub
			- phpstan/class-helpers.stub
			- vendor/axepress/wp-graphql-plugin-boilerplate/phpstan/class-wp-post-type.stub
			- vendor/axepress/wp-graphql-plugin-boilerplate/phpstan/class-wp-taxonomy.stub
			- vendor/axepress/wp-graphql-plugin-boilerplate/phpstan/Model.stub
		bootstrapFiles:
			- phpstan/constants.php
		paths:
			- wp-graphql-rank-math.php
			- access-functions.php
			- activation.php
			- deactivation.php
			- src/
		excludePaths:
			analyse:
				- vendor-prefixed
		scanDirectories:
			- ../seo-by-rank-math
			- ../wp-graphql-woocommerce
			- vendor-prefixed/axepress/wp-graphql-plugin-boilerplate/src
		scanFiles:
			- vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
